.heroBlogContent {
  text-align: center;
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  z-index: 2;
  padding-bottom: 70px;
}

.heroBlogSection {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 20px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url("../imgBlog/patterens1.png");
  margin-bottom: 70px;
}
