.productSection {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  padding-bottom: 100px;
}

.productContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.loadMoreButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #274c5b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
  background-color: #1d3a4e;
}
