.newsSection {
  padding: 40px 20px;
  background-color: #f4f4f4;
  margin-bottom: 70px;
}

.newsHeader {
  text-align: center;
  margin-bottom: 30px;
}

.newsHeader p {
  font-family: "Yellowtail", cursive;
  font-size: 1.5rem;
  color: #08f423;
  text-align: left;
  margin-left: 130px;
}

.newsHeader h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.newsHeader .button:first-of-type {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #a6c9ed;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.newsHeader .button:first-of-type:hover {
  background-color: #007bff;
  color: white;
}

.newsHeader .button:not(:first-of-type) {
  background-color: #efd372;
  color: #274c5b;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsHeader button:not(:first-of-type):hover {
  background-color: #cbb860;
}

.newsContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.containerSmall {
  display: flex;
  justify-content: space-around;
}

.newsList {
  display: flex;
  justify-content: space-around;
}

.newsList li {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.newsList img {
  object-fit: cover;
  width: 500px;
  height: auto;
}

.newsDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px;
  transition: transform 0.5s ease;
}

.newsList li:hover .newsDetails {
  transform: translateY(0%);
}

.newsDetails p {
  font-size: 0.9rem;
  color: #555;
}

.newsDetails h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.newsDetails .button {
  background-color: #efd372;
  color: #274c5b;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsDetails .button:hover {
  background-color: #cbb860;
}
